GH_TOKEN=""
GH_ACTION_TRUST=""

OCTO_COMMITTER_NAME=""
OCTO_COMMITTER_EMAIL=""

APP_BASE_URL=http://localhost:3000

REDIS_URL=redis://redis:6379
DOCKER_LOCAL_PORT=3000

EMU_BACKUP_CRON="0 */5 * * * *"

ROM_NAME=""
ROM_GBA_NAME=""