# Used for interacting with the github api.
# Generate one in: https://github.com/settings/personal-access-tokens
GH_TOKEN=""

# The token used to login on the ui, also used by github actions.
# You can generate one with: node -e "console.log(require('crypto').randomBytes(128).toString('hex'))"
API_AUTH_TOKEN=""

OCTO_COMMITTER_NAME=""
OCTO_COMMITTER_EMAIL=""

APP_BASE_URL=http://localhost:3000

DOCKER_LOCAL_PORT=3000

EMU_BACKUP_CRON="0 */5 * * * *"

ROM_GBA_NAME=""

BU_DISCORD_TOKEN=
# You can find the channel id from the url:
#  - for channel on a server: https://discord.com/channels/@me/THE-CHANNEL-ID
#  - for private messages: https://discord.com/channels/123/THE-CHANNEL-ID
BU_DISCORD_CHANNEL_ID=1234