node_modules/
.vscode

dist/

.env
.env*
!.env.example

config.json
public/board.png
public/minesweeper.gif

package-lock.json
config/*
!config/.gitkeep

!config/datas/
config/datas/*
!config/datas/config.default.json
!config/datas/.gitkeep

!config/roms/
config/roms/*
!config/roms/.gitkeep
